In [1]:
data = pd.read_excel("Oil_CIT.xlsx", sheet_name="Oil")

NameError: name 'pd' is not defined

In [2]:
import pandas as pd

In [3]:
data = pd.read_excel("Oil_CIT.xlsx", sheet_name="Oil")

In [4]:
data

    Year  Oil price  CIT (% of GDP)  Unnamed: 3
0   2000      30.38        3.925538         NaN
1   2001      25.98        3.960876         NaN
2   2002      26.18        3.284355         NaN
3   2003      31.08        3.217150         NaN
4   2004      41.51        3.746955         NaN
5   2005      56.64        3.930804         NaN
6   2006      66.05        5.987249         NaN
7   2007      72.34        6.233249         NaN
8   2008      99.67        5.900932         NaN
9   2009      61.95        6.020087         NaN
10  2010      79.48        4.746156         NaN
11  2011      94.88        4.892771         NaN
12  2012      94.05        4.149997         NaN
13  2013      97.98        4.918297         NaN
14  2014      93.17        4.201878         NaN
15  2015      48.66        3.748108         NaN
16  2016      43.29        3.244261         NaN
17  2017      50.80        3.340058         NaN
18  2018      65.23        3.215857         NaN
19  2019      56.99        3.058454   -0.048946
20  2020      39.16        3.245275    0.061083
21  2021      68.13        3.245275    0.000000
22  2022      80.00        4.698500    0.447797
23  2023     100.00        5.180500    0.102586
24  2024      60.00        4.216500   -0.186082
25  2025      60.00        4.216500    0.000000
26  2026      60.00        4.216500         NaN
27  2027      60.00        4.216500         NaN
28  2028      60.00        4.216500         NaN
29  2029      60.00        4.216500         NaN
30  2030      60.00        4.216500         NaN

In [5]:
from sklearn.linear_model import LinearRegression

In [6]:
import numpy as np

In [7]:
model = LinearRegression

In [8]:
data=pd.read_excel("Oil_CIT.xlsx", sheet_name="Oil")

In [9]:
data

    Year  Oil_price   CIT_GDP
0   2000      30.38  3.925538
1   2001      25.98  3.960876
2   2002      26.18  3.284355
3   2003      31.08  3.217150
4   2004      41.51  3.746955
5   2005      56.64  3.930804
6   2006      66.05  5.987249
7   2007      72.34  6.233249
8   2008      99.67  5.900932
9   2009      61.95  6.020087
10  2010      79.48  4.746156
11  2011      94.88  4.892771
12  2012      94.05  4.149997
13  2013      97.98  4.918297
14  2014      93.17  4.201878
15  2015      48.66  3.748108
16  2016      43.29  3.244261
17  2017      50.80  3.340058
18  2018      65.23  3.215857
19  2019      56.99  3.058454
20  2020      39.16  3.245275
21  2021      68.13  3.245275
22  2022      80.00  4.698500
23  2023     100.00  5.180500
24  2024      60.00  4.216500
25  2025      60.00  4.216500

In [10]:
model = LinearRegression()

In [11]:
model.fit(data.Oil_price, data.CIT_GDP)

ValueError: Expected 2D array, got 1D array instead:
array=[ 30.38  25.98  26.18  31.08  41.51  56.64  66.05  72.34  99.67  61.95
  79.48  94.88  94.05  97.98  93.17  48.66  43.29  50.8   65.23  56.99
  39.16  68.13  80.   100.    60.    60.  ].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [12]:
x=data.Oil_price

In [13]:
x

0      30.38
1      25.98
2      26.18
3      31.08
4      41.51
5      56.64
6      66.05
7      72.34
8      99.67
9      61.95
10     79.48
11     94.88
12     94.05
13     97.98
14     93.17
15     48.66
16     43.29
17     50.80
18     65.23
19     56.99
20     39.16
21     68.13
22     80.00
23    100.00
24     60.00
25     60.00
Name: Oil_price, dtype: float64

In [14]:
y=CIT_GDP

NameError: name 'CIT_GDP' is not defined

In [15]:
y=data.CIT_GDP

In [16]:
y

0     3.925538
1     3.960876
2     3.284355
3     3.217150
4     3.746955
5     3.930804
6     5.987249
7     6.233249
8     5.900932
9     6.020087
10    4.746156
11    4.892771
12    4.149997
13    4.918297
14    4.201878
15    3.748108
16    3.244261
17    3.340058
18    3.215857
19    3.058454
20    3.245275
21    3.245275
22    4.698500
23    5.180500
24    4.216500
25    4.216500
Name: CIT_GDP, dtype: float64

In [17]:
x=log(x)

NameError: name 'log' is not defined

In [18]:
x=ln(x)

NameError: name 'ln' is not defined

In [19]:
import math as math

In [20]:
x=math.log(x, e)

NameError: name 'e' is not defined

In [21]:
x=math.log(x, 10)

TypeError: cannot convert the series to <class 'float'>

In [22]:
Model.fit(x, y)

NameError: name 'Model' is not defined

In [23]:
model = LinearRegression().fit(x, y)

ValueError: Expected 2D array, got 1D array instead:
array=[ 30.38  25.98  26.18  31.08  41.51  56.64  66.05  72.34  99.67  61.95
  79.48  94.88  94.05  97.98  93.17  48.66  43.29  50.8   65.23  56.99
  39.16  68.13  80.   100.    60.    60.  ].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [24]:
x=np.array(x).reshape(-1, 1)

In [25]:
x

array([[ 30.38],
       [ 25.98],
       [ 26.18],
       [ 31.08],
       [ 41.51],
       [ 56.64],
       [ 66.05],
       [ 72.34],
       [ 99.67],
       [ 61.95],
       [ 79.48],
       [ 94.88],
       [ 94.05],
       [ 97.98],
       [ 93.17],
       [ 48.66],
       [ 43.29],
       [ 50.8 ],
       [ 65.23],
       [ 56.99],
       [ 39.16],
       [ 68.13],
       [ 80.  ],
       [100.  ],
       [ 60.  ],
       [ 60.  ]])

In [26]:
y=np.array(y)

In [27]:
y

array([3.92553837, 3.96087644, 3.28435458, 3.21715024, 3.74695511,
       3.93080428, 5.98724859, 6.2332485 , 5.90093214, 6.02008673,
       4.74615574, 4.89277078, 4.14999701, 4.91829714, 4.20187793,
       3.74810753, 3.24426072, 3.34005764, 3.21585705, 3.05845437,
       3.24527491, 3.24527491, 4.6985    , 5.1805    , 4.2165    ,
       4.2165    ])

In [28]:
model = LinearRegression().fit(x, y)

In [29]:
model

LinearRegression()

In [30]:
model.coef

AttributeError: 'LinearRegression' object has no attribute 'coef'

In [31]:
model.coef_

array([0.02372042])

In [32]:
model.intercept_

2.7514885417000547

In [33]:
data=pd.read_excel("Oil_CIT.xlsx", sheet_name="Oil")

In [34]:
data

    Year  Oil_price   CIT_GDP  Log_Oil_price  Log_CIT_GDP
0   2000      30.38  3.925538       1.482588     0.593899
1   2001      25.98  3.960876       1.414639     0.597791
2   2002      26.18  3.284355       1.417970     0.516450
3   2003      31.08  3.217150       1.492481     0.507471
4   2004      41.51  3.746955       1.618153     0.573678
5   2005      56.64  3.930804       1.753123     0.594481
6   2006      66.05  5.987249       1.819873     0.777227
7   2007      72.34  6.233249       1.859379     0.794714
8   2008      99.67  5.900932       1.998564     0.770921
9   2009      61.95  6.020087       1.792041     0.779603
10  2010      79.48  4.746156       1.900258     0.676342
11  2011      94.88  4.892771       1.977175     0.689555
12  2012      94.05  4.149997       1.973359     0.618048
13  2013      97.98  4.918297       1.991137     0.691815
14  2014      93.17  4.201878       1.969276     0.623443
15  2015      48.66  3.748108       1.687172     0.573812
16  2016      43.29  3.244261       1.636388     0.511116
17  2017      50.80  3.340058       1.705864     0.523754
18  2018      65.23  3.215857       1.814447     0.507297
19  2019      56.99  3.058454       1.755799     0.485502
20  2020      39.16  3.245275       1.592843     0.511251
21  2021      68.13  3.245275       1.833338     0.511251
22  2022      80.00  4.698500       1.903090     0.671959
23  2023     100.00  5.180500       2.000000     0.714372
24  2024      60.00  4.216500       1.778151     0.624952
25  2025      60.00  4.216500       1.778151     0.624952

In [35]:
x=np.array(data.Log_Oil_price).reshape(-1, 1)

In [36]:
x

array([[1.48258777],
       [1.41463915],
       [1.41796964],
       [1.49248101],
       [1.61815273],
       [1.75312324],
       [1.81987282],
       [1.8593785 ],
       [1.99856446],
       [1.79204131],
       [1.90025786],
       [1.97717468],
       [1.9733588 ],
       [1.99113744],
       [1.9692761 ],
       [1.6871721 ],
       [1.63638759],
       [1.70586371],
       [1.81444738],
       [1.75579866],
       [1.59284268],
       [1.83333839],
       [1.90308999],
       [2.        ],
       [1.77815125],
       [1.77815125]])

In [37]:
y=np.array(data.Log_CIT_GDP)

In [38]:
y

array([0.59389923, 0.59779129, 0.51645004, 0.50747134, 0.57367849,
       0.59448142, 0.77722729, 0.79471444, 0.77092062, 0.77960275,
       0.67634199, 0.68955487, 0.61804778, 0.69181476, 0.62344343,
       0.57381204, 0.51111575, 0.52375396, 0.50729674, 0.48550201,
       0.51125149, 0.51125149, 0.67195923, 0.71437168, 0.6249521 ,
       0.6249521 ])

In [39]:
Model = LinearRegression().fit(x, y)

In [40]:
Model.coef_

array([0.30650027])

In [41]:
Model.intercept_

0.07628554184785474